* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}

.main-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.5fr 4fr;
}

.sidebar {
    background-color: #252525;
    grid-row: 1 / span 2;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.sidebar ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 15px;
}.sidebar ul a:hover {
    color: grey;
} 
.sidebar .bottom-sidebar {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    height: 15vh;
    justify-content: space-around;
}
.logo {
    font-size: 27px;
    margin-top: 25px;
    text-decoration: underline;
}

.header {
    background-color: #333333;
}

.header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    gap: 20px;
}

.profile-icon {
    height: 75px;
    width: 75px;
    background-color: grey;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}

.header button {
    padding: 15px;
    width: 115px;
    border-style: none;
    border-radius: 25px;
    background-color: #1992D4;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    background-color: #1e1e1e;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
}

.search {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 50vh;
    height: 5vh;
    border: none;
    border-radius: 25px;
    font-size: 25px;
}

.search button {
    width: 5vh;
    height: 5vh;
    border: none;
    border-radius: 25px;
    background-color: #1992D4;
}

.projects {

}

.announcements {

}

.trending {

}